.dashboard {
  display: flex;
  flex-direction: column; /* Stack weather/calendar row on top and reminder section below */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center items horizontally */
  width: 1020px;
  margin: auto;
  background-color: black;
  box-sizing: border-box;
  position: relative;
}

.digital-frame {
  height: 765px;
  width: 100%;
  overflow: hidden;
}

.vertical-pair {
  height: 765px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row; /* stack vertically */
  padding: 0;
  margin: 0;
  gap: 0; /* no space between images */
}

.vertical-pair img {
  height: 50%; /* each takes half the container height */
  width: 100%; /* stretch to container width */
  display: block;
}

img {
  object-fit: cover;
}

.digital-frame img {
  width: 100%;
  height: 100%;
}

.vertical-pair img {
  width: 100%;
  height: 100%;
}

.top-row {
  display: flex; 
  justify-content: space-between;
  width: 100%; 
  margin-bottom: 20px; 
}

.mid-row {
  align-self: baseline;
  width:50%;
  height: 680px;
}

.weather-container {
  width: 250px;
  height: 250px; 
}

.calendar-container {
  flex-grow: 1; 
  height: 250px;
}


